*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
   
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

  
nav{
    position: absolute;
    top:0;
    
    width:100%;

    padding:1.5rem 0;
    z-index:30;
  }
  .main-nav-link{
    margin: 0 ;
    list-style: none;
    
   }
  nav a {
    text-decoration: none;
    font-size: 20px;
    color: antiquewhite;
    border-bottom: 1px solid blue;

    margin-right: 19px;
     width:0;
    -webkit-transition: 0.5s ease;
            transition: 0.5s ease;
  }
  nav a:hover{
    cursor: pointer;
    color: white;
    -webkit-transition: 0.5s ease;;
            transition: 0.5s ease;
    border-bottom:1px solid white;
    width:30px;
    margin-right:6px;

  }
  nav a:visited{
        color:seashell;
        
  }
  .nav-link{
    display: inline-block;
    padding-left: 20px; 
     
  }
  .sign-up{
    width: 200px;
    background-color: red;
    border: 1px solid red;
    padding:10px;
    border-radius: 5px;
  }
  .sign-up:hover{
      background-color: white;
      color:red;
       
  }

  /* nav underlines */
.border{
    position: absolute;
    width:30%;
    height: 3px;
    background-color: #fff;
    bottom:0;
    left:0;
}

.p1{
    font-size: 30px;
    margin-top: 2em;
  }
  .btn1{
   width: 200px;
   height: 3rem;
   transition: width 1s;
   background-color: rgb(63, 63, 170);
   border: 1px solid rgb(63, 63, 170);;
   color: rgb(235, 232, 232);
   font-weight: bolder;
  }
  .btn2{
    width: 200px;
    height: 3rem;
    transition: width 1s;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(63, 63, 170);
    margin-left: 2rem;
    font-weight: bolder;
   }
   .btn2:hover{
       color:seashell;
       background:slateblue;
        width:150px;
        
   }
   .btn1:hover{
     width:150px;
   }
/* the elements in the header  */
.container{
    max-width:80rem;
    padding:0 3rem;
    margin: 0 auto;

}
header{ 
    width :100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header:after{
    content:'';
    position:absolute;
    width:100%;
    height: 100%;
    left:0;
    top:0;
    background-color: rgba(0, 0, 0,0.05);
    z-index: 25%;
}

.pinkbackground
{
    position: absolute;
    left: 0;
    width: 1500px;
    left: 0;
    z-index: auto;

}
.blueleft{
    position: absolute;
    width:60vw;
   right:0;
   z-index:auto;

}

#logo{
    color:rgb(63, 63, 170);
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 28px;
}

nav .container{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#design{
    position: absolute;
    margin-left: 3em;
    z-index:30;
    line-height: 2rem;
    top:100px;

  }
/* thee paragraphs on the main page */
  .p1{
      font-weight: 700;
      font-size: 45px;
      line-height: 56.25px;
  }
 .p2{
    font-weight: 400;
    font-size: 18px;
    line-height: 21.09px;
 }
 .anim div:nth-child(1){
    animation: bounce 5s 0.1s infinite;
    }
    .anim div:nth-child(2){
        animation: bounce 5s 0.2s infinite;
        }
        .anim div:nth-child(3){
            animation: bounce 5s 0.3s infinite;
            }
            .anim div:nth-child(4){
                animation: bounce 5s 0.4s infinite;
                }
                .anim div:nth-child(5){
                    animation: bounce 5s 0.5s infinite;
                }
                @keyframes bounce{
                    0%{
                        transform: translateY(0);
                    }
                    10%{
                        transform: translateY(0);
                    }
                    15%{
                        transform: translateY(-100%);
                    }
                    20%{
                        transform: translateY(0);
                    }
                    100%{
                        transform: translateY(0);
                    }
                }
/* html body{
    margin: 0px;
    padding: 0px;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  header #design{
    background-color: #FCC0C0;
  }
  #logo{
    color: #0444C0;
  }
  #nav{
    display: inline-block;
      width: 80%;
      text-align:  right;
  }
  .main-nav-link{
    margin: 0 ;
    list-style: none;
    
   }
  a:link {
    text-decoration: none;
    font-size: 20px;
    color: white;
  }
  .nav-link{
    display: inline-block;
    padding-left: 20px; 
     
  }
  .sign-up{
    background-color: red;
    border-radius: 5px;
    width: 136px;
    height: 48px;
    left: 1214px;
    top: 26px;
    border-radius: 10px;
  }
  .p1{
    font-size: 30px;
    margin-top: 2em;
  }
  .btn1{
     background-color: #0444C0;
     color: #FFFFFF;
     font-weight: 700;
     height: 66px;
     width: 199.72222900390625px;
     left: 96.861083984375px;
     top: 431px;
     border-radius: 0px;
     border: 1px solid #0444C0; 
  }
  .btn2{
    height: 66px;
    width: 199.72222900390625px;
    left: 336.52783203125px;
    top: 431px;
    border-radius: 0px;
    background-color: #FFFFFF;
    color: #0444C0;
    border: 1px solid #FFFFFF;
    font-weight: 700;
   } */
#languages{
    text-align: center;
    padding: 50px;
}
#cubejs{
    text-align: center;
}

#learn{
    padding: 50px;
}

#learn h3{
    color: #E45050;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
}
#learn p{
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.learn{
    background-color: #E45050;
    color: white;
    text-align: center;
    height: 66px;
    width: 200px;
    left: 100px;
    top: 1206px;
    border-radius: 0px;
}

.github{
    background-color: white;
    border: 1px solid #0444C0;
    color: #0444C0;
    font-weight: 700;
    height: 66px;
    width: 200px;
    left: 334px;
    top: 1206px;
    border-radius: 0px;
}
#divider{
    width: 20px;
    height: auto;
    display: inline-block;
}
#install h3{
    /* line-height: 100.19px; */
    color: black;
    font-weight: 700;
    padding: 50px;
}

#signup h3{
    color: black;
    font-weight: 700;
    padding: 50px;
}

#install{
    background-color: #E6EEFE;
    text-align: center;
    padding: 50px 140px;
}

#install button{
    background-color: #E45050;
    color: white;
    text-align: center;
    border-radius: 0px;
    width: 195.65px;
    height: 66px;
    top: 1647px;
    left: 21.41px;
}

#signup{
    background-color: #FFF7F7;
    text-align: center;
    padding: 50px 140px;
}

#signup button{
    background-color:#0444C0;
    color: white;
    text-align: center;
    border: 1px solid #0444C0;
    height: 66px;
    width: 200px;
    left: 973px;
    top: 1643px;
    border-radius: 0px;
}

.col-md-4{
    text-align: right;
    background-color:white; 
    border: 1px solid white; 
    padding: 70px 20px;
}

.col-md-4 img{
    width: 70px;
}

.designthree{
    width: 90px;
}

.sql{
    padding: 25px 25px;
}

#contribute{
    text-align: center;
    background-color: #FFF7F7;
}

#contribute div{
    padding: 30px 50px;
}
#contribute h3{
    font-weight: 700;
}
#contribute button{
    color: white;
    width: 250px;
}

.contribute{
    text-align: center;
    background-color: #0444C0;
    border-radius: 0px;
    border: 1px solid  #0444C0;
}

.donate{
    text-align: center;
    background-color: #E45050;
    border-radius: 0px;
    border: 1px solid #E45050;
}

footer{
    background-color: #0C43AF;
    text-align: left;
    padding: 50px 0px;
}

footer h5{
    color:white;
    font-weight: 700;
}

footer h4{
    color: #E45050;
}

footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li{
    color:white;
}


.copyright{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0px;
}

* {
    box-sizing: border-box;
  }

/* media queries */
@media only screen and (max-width: 767px) {
    body{
        width: 100%;
    }
    #languages{
        width: 100%;
        padding-bottom: 10px;
    }

    #languages img{
        padding-bottom: 10px;
    }
    #learn{
        padding: 0px;
        padding-bottom: 10px;
    }
    #learn h3{
        font-size: 18px;
    }
    #learn button{
        text-align: center;
        font-size: 12px;
        margin-left: 5%;
        width: 40%;
    }

    #cubejs img{
        width: 100%;
    }

    #container{
       padding: 0px;
       font-size: 14px;
      
    }
    #container h3{
        font-size: 14px;
    }

    #install{
        padding: 10px 0px;
    }

    #install h3{
        padding: 25px;
    }

    #signup{
        padding: 10px 0px;
    }

    #signup h3{
        padding: 25px;
    }

    .col-md-4{
        text-align: center;
    }
    #sql{
        text-align: center;
    }

    #contribute{
        text-align: center;
    }
    /* #contribute button{
        margin: 0px;
        width: 15%;
    } */

    #contribute .contribute{
        word-wrap: break-word;
        /* width: 50%; */
        padding-left: 0px;
        width: 35%;
        font-size:2.5vw;
        font-weight: 400;
        text-align: center;
        /* margin-left: 10%; */
    }

    #divider{
        width:0px;
    }

    #contribute .donate{
        padding: 10px 2px;
        width: 20%;
        /* width: 50%; */
        font-size: 10px;
        /* margin-right: 5%; */
    }

    #contribute h3{
        font-size: 24px;
    }

    footer{
        padding: 10px, 0px;
    }
    
    footer .col{
        width: 100%; 
        font-size: 8px;
    }
    footer h4{
        font-size: 8px;
        text-align: center;
    }
    footer h5{
        font-size: 8px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body{
        width: 100%;
    }
    #languages{
        width: 100%;
        padding-bottom: 10px;
    }

    #languages img{
        padding-bottom: 10px;
    }
    #learn{
        padding: 0px;
        padding-bottom: 10px;

    }
    #learn h3{
        font-size: 18px;
    }
    #learn button{
        text-align: center;
        font-size: 12px;
        margin-left: 5%;
        width: 40%;
    }

    #cubejs img{
        width: 100%;
    }

    #container{
       padding: 0px;
       font-size: 14px;
      
    }
    #install{
        padding: 10px 0px;
    }

    #install h3{
        padding: 25px;
    }

    #signup{
        padding: 10px 0px;
    }

    #signup h3{
        padding: 25px;
    }

    .col-md-4{
        text-align: center;
    }
    #sql{
        text-align: center;
    }

    #contribute button{
        color: white;
        width: 30%;
    }

    #contribute .contribute{
        font-size: 16px;
    }

    #contribute h3{
        font-size: 24px;
    }

    footer{
        padding: 10px 0px;
    }
    
    footer .col{
        width: 100%; 
        font-size: 16px;
    }
    footer h4{
        font-size: 16px;
        text-align: center;
    }
    footer h5{
        font-size: 16px;
    }
}
